name: Check and Download CSV files

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Create necessary directories
      run: mkdir -p csv tc json

    - name: Get latest remote commit hashes
      run: |
        # Global
        echo "GL_ACT=$(curl -s https://api.github.com/repos/xivapi/ffxiv-datamining/commits?path=csv/en/Action.csv | jq -r '.[0].sha')" >> $GITHUB_ENV
        echo "GL_ITE=$(curl -s https://api.github.com/repos/xivapi/ffxiv-datamining/commits?path=csv/en/Item.csv | jq -r '.[0].sha')" >> $GITHUB_ENV
        echo "GL_STA=$(curl -s https://api.github.com/repos/xivapi/ffxiv-datamining/commits?path=csv/en/Status.csv | jq -r '.[0].sha')" >> $GITHUB_ENV
        # TC
        echo "TC_ACT=$(curl -s https://api.github.com/repos/thewakingsands/ffxiv-datamining-tc/commits?path=Action.csv | jq -r '.[0].sha')" >> $GITHUB_ENV
        echo "TC_ITE=$(curl -s https://api.github.com/repos/thewakingsands/ffxiv-datamining-tc/commits?path=Item.csv | jq -r '.[0].sha')" >> $GITHUB_ENV
        echo "TC_STA=$(curl -s https://api.github.com/repos/thewakingsands/ffxiv-datamining-tc/commits?path=Status.csv | jq -r '.[0].sha')" >> $GITHUB_ENV

    - name: Download Updated Files
      run: |
        # Global
        curl -o csv/Action.csv https://raw.githubusercontent.com/xivapi/ffxiv-datamining/master/csv/en/Action.csv
        curl -o csv/Item.csv https://raw.githubusercontent.com/xivapi/ffxiv-datamining/master/csv/en/Item.csv
        curl -o csv/Status.csv https://raw.githubusercontent.com/xivapi/ffxiv-datamining/master/csv/en/Status.csv
        # TC
        curl -o tc/Action.csv https://raw.githubusercontent.com/thewakingsands/ffxiv-datamining-tc/main/Action.csv
        curl -o tc/Item.csv https://raw.githubusercontent.com/thewakingsands/ffxiv-datamining-tc/main/Item.csv
        curl -o tc/Status.csv https://raw.githubusercontent.com/thewakingsands/ffxiv-datamining-tc/main/Status.csv

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install pandas

    - name: Run processCsv.py
      run: python processCsv.py

    - name: Commit and push changes
      run: |
        if [ -n "$(git status --porcelain)" ]; then
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m 'Update Global and TC data'
          git push
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
